body{
    background-color: #121212;
    color: #E0E0E0;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    line-height: 1.6;
}
/* El encabezado*/
header{
    background-color: #1F1F2E;
    padding: 2rem;
    border-bottom: 4px solid #A82025;
    text-align: center;
}

    header h1 {
       color: #A82025;
       margin: 0;
       text-transform: uppercase;
       letter-spacing: 3px;
    }
    header p {
        font-style: italic;
        color: #999;
    }
    nav ul {
        list-style: none;
        padding: 0;
        margin-top: 20px;
    }
    nav ul li {
        display: inline;
        margin: 0 15px;
    }
    nav ul li a {
        color: #E0E0E0;
        text-decoration: none;
        font-weight: bold;
        transition: 0.3;
    }
    nav ul li a:hover {
        color: #A82025;
        text-shadow: 0px 0px 5px #A82025;
    }
    main {
        max-width: 900px;
        margin: 20px auto;
        padding: 0 20px;
    }
    section {
        background-color:#1F1F2E;
        padding: 20px;
        margin-bottom: 30px;
        border-radius: 8px;
        border-left: 5px solid #454552;
    }
    h2 {
        color: #A82025;
        border-bottom: 1px solid #454552;
        padding-bottom: 10px;
    }
    article {
        background-color: #161625;
        padding: 15px;
        margin: 15px 0;
        border-radius: 4px;
    }
    h3 {
        color: #E0E0E0;
        margin-top: 0;
    }
    strong {
        color: #A82025;
    }
    
    footer {
        text-align: center;
        padding: 20px;
        background-color: #0D0D0D;
        color: #666;
        font-size: 0.9rem;
        border-top: 1px solid #1F1F2E;
    }