/* Vaibales css*/
:root {
    --azul-noche: #0f172a;
    --rojo-electrico: #e11d48;
    --azul-brillante: #2563eb;
    --gris-oscuro: #1e293b;
    --texto-brillante: #f8fafc;
}

body {
    display:grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 0;
    background-color: (var(--azul-profundo));
    color: var(--blanco-crema);
    font-family: 'Segoe UI', sans-serif;
}

 header { grid-area: header;}
 main { grid-area: main;}
 footer { grid-area: footer;}

 header {
    background-color: var(--azul-noche);
    color: var(--texto-brillante);
    padding: 3rem 1rem;
    border-bottom: 4px solid var(--rojo-electrico);
    text-align: center;
 }

header h1{
    font-size: 3rem;
    color: var(--texto-brillante);
    letter-spacing: 2px;
    margin: 0;
    font-weight: 800;
 }

nav ul{
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
    margin-top: 20px;
    padding: 0;
 }

nav a {
    text-decoration: none;
    color: var(--texto-brillante);
    font-weight: 700;
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: all 0.3 ease;
 }

nav a:hover {
    color: var(--rojo-electrico);
    transform: translateY(-3px);
}

main{
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
 }

section {
    background: linear-gradient(145deg, var(--gris-oscuro), #111827);
    color: var(--texto-brillante);
    padding: 2.5rem;
    border-radius: 20px;
    margin-bottom: 2.5rem;
    border-left: 8px solid var(--rojo-electrico);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }

section:hover{
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 20px 40px rgba(225, 29, 72, 0.3);
    border-left-width: 15px;
}

section h2, section h3, section p {
    margin-top: 0;
    margin-bottom: 1.2rem;
    line-height: 1.6;
}

footer {
    background-color: #000;
    color: var(--texto-brillante);
    padding: 2rem;
    text-align: center;
    font-weight: 600;
    border-top: 1px solid var(--gris-oscuro);
}