body {
  margin: auto 280px auto 280px;
  font-family: 'Poppins', sans-serif;
}

.cabecera {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.titulo {
  color: #061C30;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
}

.enlaces {
  display: flex;
  gap: 80px;
}

.enlaces a {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  border-radius: 20px;
  display: inline-block;
}

.enlaces a:hover {
  background-color: #0E35BD;
  color: white;
  transform: scale(1.05);
}

section label {
  margin-left: 20px;
}

select {
  padding: 10px 15px;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #ccc;
  outline: none;
}

select:focus {
  border-color: #0E35BD;
}

option {
  font-family: 'Poppins', sans-serif;
  line-break: anywhere;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 20px;
  border-bottom: solid 1px #ccc;
}


.card h3 {
  color: #0E35BD;
}

.card img {
  width: 358.391px;
  height: 179.188px;
  border-radius: 15px;
}

.card a {
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

.descripcion {
  font-size: 16px;
  color: #555;
}

.categoria {
  font-size: 16px;
  margin-top: auto;
  color: #555;
}